<%= render 'shared/errors', obj: @article %>


<%= form_with(model: @article, local: true) do |f|%>

<!--Title-->
<div class="row">
    <div class="col-lg-3">
        <div class="title-write">
            <p>Title</p>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="write-content-box title-input">
            <%= f.text_field :title, :placeholder => "Enter your title here" %>
        </div>
    </div>
</div>

<!--Description-->
<div class="row">
    <div class="col-lg-3">
        <div class="title-write">
            <p>Description</p>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="write-content-box">
            <%= f.text_area :description, rows:15, placeholder:"Lorem Ipsum and All That Jazzzzzzzzzzzzzzz." %>
        </div>
    </div>
</div>

<!--Tags-->
<div class="row">
    <div class="col-lg-3">
        <div class="title-write">
            <p>Tags</p>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="write-content-box tags-radio d-flex justify-content-around">
            <!--business-->
            <input type="radio" id="radio-business" value="business" name="tag">
            <label for="radio-business" class="business">Business</label>
            <!--travel-->
            <input type="radio" id="radio-travel" value="travel" name="tag">
            <label for="radio-travel" class="travel">Travel</label>
            <!--health-->
            <input type="radio" id="radio-health" value="health" name="tag">
            <label for="radio-health" class="health">Health</label>
            <!--technology-->
            <input type="radio" id="radio-tech" value="tech" name="tag">
            <label for="radio-tech" class="tech">Tech</label>
        </div>
    </div>
</div>

<hr>

<!--Buttons-->
<div class="conditon-buttom-wrap">

    <div class="button-box">
        <%= f.submit class:"btn-large btn-primary" %>
        <%= link_to 'Cancel', articles_path, class:"btn-large btn-secondary"%>
    </div>
</div>
<% end %>