<!-- Blog Details Wrapper Start -->
<div class="blog-details-wrapper">
    <div class="container">
        <!--Title-->
        <div class="row section-space--pb_60">
            <div class="col-12">
                <div class="share-thinking-title text-center">
                    <h2 class="title">Articles</h2>
                </div>
            </div>
        </div>
        <!--Article Grid-->
        <div class="row row--17">
            <% @articles.each do |article| %>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- Single Following Post Start -->
                <div class="single-following-post"> <!-- data-aos="fade-up" -->
                    <%= link_to article_path(article), class:"following-post-thum" do %>
                        <%= image_tag("blog/01.jpg", :alt => "meditation") %>
                    <% end %>
                    <div class="following-post-content">
                        <div class="following-blog-post-top">
                            <div class="trending-blog-post-category">
                                <a href="#" class="business">Business</a>
                            </div>
                            <div class="following-blog-post-author">
                                By <a href="#">Dani Hooven</a>
                            </div>
                        </div>
                        <h5 class="following-blog-post-title">
                            <%= link_to article.title,  article_path(article) %>
                        </h5>
                        <p> <%= truncate(article.description, length:50) %> </p>
                        <div class="following-blog-post-meta">
                            <div class="post-meta-left-side">
                                <span class="post-date">
                                   <%= article.created_at.strftime("%B %d, %Y") %>
                                </span>
                            </div>
                            <div class="post-meta-right-side">
                                <%= link_to edit_article_path(article) do%><i class="icofont-edit-alt"></i><% end %>
                                <%= link_to article_path(article), data: {"turbo-method": :delete, "turbo-confirm": "Are you sure?" } do%><i class="icofont-ui-delete"></i><% end %>
                            </div>
                        </div>
                    </div>
                </div><!-- Single Following Post End -->
            </div>
            <% end %>
            
            <%= link_to new_article_path do %>
            <p class="text-center">
                Create new article <i class="icofont-plus"></i> 
            </p>
            <% end %>
            
        </div>
    </div>
</div> <!-- Blog Details Wrapper End -->



