<!DOCTYPE html>
<html>
  <head>
    <title>BloggieBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "gordita-fonts", "icofont", "plugins.min", "style.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>'
    
    <!--========  Main Area =========-->
    <div id="main-wrapper">
      <div class="site-wrapper-reveal">
            <%= render 'layouts/messages' %>
            <%= yield %>
      </div>
    </div>
    <!--========  End of Main Area =========-->
    
    <%= render 'layouts/footer' %>
    
    

  </body>
</html>
